*.log
*.tlog
*.lastbuildstate
*.cache
*.user
*.suo
*.sdf
*.opensdf
*.lib
*.pdb
*.vspx
*.obj
*.idb
*.pdb
*.dll
*.exe
Subset_of_CorLib/bin
Subset_of_CorLib/obj
Tests/bin
Tests/obj
AssemblyImporter/bin
AssemblyImporter/obj
ClarityCorLibExported
