*.log
*.tlog
*.lastbuildstate
*.cache
*.user
*.suo
*.sdf
*.opensdf
*.lib
*.pdb
*.vspx
*.obj
*.idb
*.pdb
*.dll
*.exe
*.cmake
*.rpa
*.ilk
CMakeCache.txt
CMakeFiles/*
Makefile
Subset_of_CorLib/bin
Subset_of_CorLib/obj
Tests/bin
Tests/obj
AssemblyImporter/bin
AssemblyImporter/obj
Clarity.Rpa/bin
Clarity.Rpa/obj
Clarity.RpaCompiler/bin
Clarity.RpaCompiler/obj
Clarity.Pdb/bin
Clarity.Pdb/obj
rpac/bin
rpac/obj
ClarityCorLibExported
